.menu{
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
}
.card-body{
    text-align: center;
}
.container-all{
    background-color: rgb(246,246,253);
}
.btn-group{
    width: 100%;
}
.btn-group button_a{
    background: white;
    color: black;
    padding: 10px 25px;
    cursor: pointer;
    float: left;
    width: 50%;
    margin-top: 3rem;
    text-align: center;
    font-weight: bolder;
}
.btn-group button{
    background: linear-gradient(rgb(95,62,186),rgb(186,52,213));
    border:1px solid purple;
    color:white;
    padding: 10px 25px;
    cursor:pointer;
    float:left;
    width: 50%;
    margin-top: 3rem;
}
.btn-group button:not{
    border-right: none;
}